{% extends "base.html.twig" %}
{% macro paginator(paginator) %}
    <ul class="pagination pagination-sm justify-content-center">
        {% for page in paginator %}
            <li class="page-item{% if page.skip %} ms-3{% endif %}{% if page.active %} active{% endif %}">
                <a class="page-link{% if page.disabled %} disabled{% endif %}" href="{{ page.link }}" aria-label="{{ page.label }}">
                    {% if page.type == 'prev' %}
                        <span aria-hidden="true">&laquo;</span>
                    {% elseif page.type == 'next' %}
                        <span aria-hidden="true">&raquo;</span>
                    {% elseif page.type == 'normal' %}
                        {{ page.label }}
                    {% else %}
                        ?
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}
{% block body %}

    <div class="btn-toolbar justify-content-center mb-5" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1">Všichni</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio2">Studenti</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio3">Učitelé</label>
        </div>
        <div class="btn-group me-2" role="group" aria-label="Second group">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Input group example" aria-label="Input group example" aria-describedby="btnGroupAddon">
                <button type="button" class="btn btn-primary"><i class="bi bi-search"></i></button>
            </div>
        </div>
    </div>

    {{ _self.paginator(table.paginator) }}
    {% if table.body is empty %}
        <div class="text-center">žádná data</div>
    {% else %}
    <table class="table table-striped table-hover align-middle">
        <thead>
            <tr>{% for h in table.header %}{{ h.render("th")|raw }}{% endfor %}</tr>
        </thead>
        <tbody>
            {% for row in table.body %}
                <tr>{% for c in row %}{{ c.render("td")|raw }}{% endfor %}</tr>
            {% endfor %}
        </tbody>
    </table>
    {{ _self.paginator(table.paginator) }}
    {% endif %}
{% endblock %}
